{% load static %}
<header style="background-color: #e9ebe6; font-family: Arial;">
    <div style="display: flex; justify-content: space-between; align-items: center; padding: 10px;">
        <div style="display: flex; align-items: center;">
            <img src="{% static 'bi_logo.png' %}" alt="LOGO" style="width: 100px; height: auto; margin-right: 10px;">
            <h2 style="margin: 0;">
                <a href="/" style="text-decoration: none; color: black;">Besediček</a>
            </h2>

        </div>
        <div style="display: flex; align-items: center;">
            {% if 'user-languages' not in request.path and 'login' not in request.path and 'register' not in request.path and 'logout' not in request.path and '' not in request.path %}
            <form action="{% url 'user-languages' %}" method="get">
                <button type="submit"  style="margin-right: 10px; display: {{ myLanguages_display }};">MY LANGUAGES</button>
            </form>
            {% endif %}

            {% if 'user-cards' not in request.path and 'login' not in request.path and 'register' not in request.path and 'logout' not in request.path and '' not in request.path %}
            <button style="margin-right: 10px; display: {{ myLanguages_display }};">MY CARDS</button>
            {% endif %}
            {% if 'login' not in request.path and 'register' not in request.path and '' not in request.path %}
            <button>LOGOUT</button>
            {% endif %}
            {% if 'login' in request.path %}
                <button type="submit">REGISTER</button>
            {% endif %}
             {% if 'register' in request.path %}
             <form action="{% url 'login' %}" method="get">
                <button type="submit">LOGIN</button>
            </form>
            {% endif %}
        </div>
    </div>
    <hr style="padding: 0.5px">
</header>